.App{
  text-align: center;
  .Square {
    width: 30%;
    background-color:lightblue;
    border: 1px solid blue;
    float: left;
    height: 135px;
    display: flex;
    img {
      align-items: center;
      justify-content: center;
    }
  }
  .Info{
    h1{
      color: black;
      }
    .RestartBtn{
      margin-bottom: 10px;
      padding: 20px;
    }
  }
}
.container{
  margin: 0 auto;
  width: 420px;
}
